#leftGL {
  float: left;
  width: 50%;
}

#rightGL {
  float: right;
  width: 50%;
}

#chatGL {
  bottom: 0px;
  width: 100%;
  display: block;
  height: 180px;
  color: #FFFFFF;
  border: solid 5px;
  border-color: #000;
  background-color: #101010;
  overflow-y: scroll;
}

#chatGL > p {
  margin: 0;
}

#chatForm{
  width: 100%;
  bottom: 0px;
}

#chatInput{
  width: 95%;
}
