<div class = "container">
	<div class = "jumbotron">
		Fake Game Lobby
	</div>
</div>

<button id="game1" class="joinGame" value="1">Join Game</button>

<%- block('localScripts', '<script src="/extraJS/GameLobby.js"></script>') %>
