<div class = "container">
	<div class = "jumbotron">
		<h1>Team Danny RISK Homepage</h1>
		<h2>This is a realtime version of the popular board game RISK.
			Please register an account or login to play!</h2>
		<h2>Sign-in or Register to Continue</h2>
		<a href ="/register" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>
